* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100%;  /* 100% of the root font size (typically 16px) */
    text-rendering: optimizeLegibility;
}

/*--- HEADER ---*/
header {
    background-image: url(../img/Hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
}

.header-top {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: #fff;
    color: #000;
    padding: 40px 20px;
}

h1 {
    color: #fff;
    font-size: 3rem;  /* Scalable font size (48px) */
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
    margin-bottom: 15px;
    line-height: 1.2;
    margin-top: 50px;
}

.hero-text-box p {
    color: #fff;
    font-size: 1rem;  /* 16px for normal readability */
    font-weight: 500;
    word-spacing: 3px;
    margin-bottom: 100px;
}

.logo {
    width: 200px;
    height: auto;
    position: sticky;
    top: 10px;
    left: 10px;
}

.hero-text-box {
    color: #fff;
    position: absolute;
    top: 30%;
    left: 25%;
    width: 50%;
    font-size: 1rem;  /* 16px */
    font-weight: 500;
}

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 12px 24px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    border-radius: 100px;
}

.btn-full:link, 
.btn-full:visited {
    background-color: #800080;
    border: 1px solid #800080;
    margin-right: 15px;
}

.btn-inverse:link,
.btn-inverse:visited {
    border: 1px solid #800080;
}

/*--- NAV ---*/
.main-nav {
    position: absolute;
    top: 10px;
    right: 5%;
}

.hero-text-box .btn-full:link, 
.hero-text-box .btn-full:visited {
    background-color: #800080;
    border: 1px solid #800080;
    color: #fff;
    margin-right: 15px;
}

.hero-text-box .btn-inverse:link,
.hero-text-box .btn-inverse:visited {
    border: 1px solid #800080;
}

.main-nav ul {
    list-style-type: none;
}

.main-nav li {
    display: inline;
    margin-left: 10px;
}

.main-nav a:link, 
.main-nav a:visited {
    color: #000;
    text-decoration: none;
    font-size: 1rem;  /* 16px for readability */
    padding: 10px;
}

.main-nav a:hover,
.main-nav a:active {
    border-top: 5px solid #800080;
}

/*--- SECTIONS --*/
section {
    padding: 80px 0;
}

/*--- SECTION SIGNIN ---*/
.section-signin {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    justify-content: center;
    padding: 40px;
    margin: 100px auto;
    background-color: #800080;
    border-radius: 30px;
    max-width: 1200px;
    height: auto;
    max-height: 200px;
}

.section-signin h1 {
    color: #fff;
    text-align: left;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
}

.section-signin p {
    font-size: 16px;
    font-weight: 300;
    text-align: left;
    color: #fff;
    margin-bottom: 20px; 
}

.section-signin .btn-full:link, 
.section-signin .btn-full:visited {
    background-color: #fff;
    border: 1px solid #fff;
    padding: 12px 24px;
    font-size: 16px;
    color: #800080;
    border-radius: 30px;
    text-decoration: none;
    align-self: flex-start; 
    margin-top: 20px; 
    margin-left: auto; 
    margin-bottom: 30px;
}

.section-signin .btn-full:hover {
    background-color: #800080;
    color: #fff;
    cursor: pointer;
}


/*--- SECTION EXPLORE ---*/
.section-explore {
    width: 100%;
    display: flow-root;
}

.section-explore h1 {
    color: #000;
    text-align: left;
    margin: 120px;
}

.section-explore ul {
    list-style-type: none;
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    gap: 30px; 
}

.section-explore li {
    width: 250px; 
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    text-align: center; 
}

.section-explore figure {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    border-radius: 50%; 
}

.section-explore img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.section-explore figcaption {
    margin-top: 10px; 
    font-weight: 500;
    font-size: 16px; 
    color: #000; 
}

/*--- SECTION CAROUSEL ---*/
.section-carousel {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px;
    overflow: hidden;
}

.carousel-text {
    padding: 40px;
    margin-left: 200px;
    background-color: #800080;  
    border-radius: 30px; 
    width: 400px;  
    height: 400px;  
    display: flex;
    flex-direction: column;
    justify-content: flex-start;  
}

.carousel-text h1 {
    font-size: 2.5rem; 
    margin: 0px;
    color: #fff;  
}

.carousel-text p {
    font-size: 1.5rem; 
    margin: 10px 0;
    color: #fff; 
}

.carousel-text .btn {
    padding: 12px 24px;
    background-color: #fff;
    color: #800080;  
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
    font-size: 1.2rem;
    align-self: flex-start;  
}


/* Carousel images list */
.categories-images {
    list-style-type: none;
    display: flex;
    gap: 20px;
    overflow-x: hidden;
    padding: 0;
}

.categories-images li {
    width: 400px;
    height: 600px;
    text-align: left;
}

.categories-images figure {
    margin: 0;
    width: 100%;
    height: 250px; 
}

.categories-images img {
    width: 100%;
    height: 120%;
    object-fit: cover;
    border-radius: 15px; 
}

.categories-images figcaption {
    font-weight: bold;
    color: #333;
    margin: 60px 0;
    font-size: 1.5rem; 
}

.categories-images p {
    color: #800080;
    font-size: 1.5rem; 
    margin-bottom: 10px;
}

/*SECTION GIGS*/
.section-gigs {
    display: flex;
    flex-direction: row;  
    justify-content: flex-start;  
    padding: 40px;
    margin: 100px auto;
    margin-top: 0;
    background-color: #800080;  
    border-radius: 30px;
    max-width: 1200px;
    height: 300px;
}

.section-gigs .text-content {
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;  
    color: #fff; 
}

.section-gigs h1 {
    font-size: 40px;
    font-weight: 700;
    color: #fff;  
}

.section-gigs p {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 20px;
    color: #fff;  
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 300px;
}
.section-gigs img {
    width: 400px;  
    height: 300px;  
    object-fit: cover;  
}

.section-gigs .btn-full:link, 
.section-gigs .btn-full:visited {
    background-color: #fff;
    border: 1px solid #fff;
    padding: 12px 24px;
    font-size: 16px;
    color: #800080;  
    border-radius: 30px;
    text-decoration: none;
    align-self: flex-start;  
}

.section-gigs .btn-full:hover {
    background-color: #800080;
    color: #fff;
    cursor: pointer;
}


/*--- SECTION FOOTER --*/
footer{
    margin-top: 40px;
    padding: 40px;
}

.section-footer{
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 10px;
    display: flow-root;
}

.footer-nav{
    list-style-type: none;
    float: left;
    margin-right: 20px;
}

.footer-nav li,
.footer-social li{
    display: inline-block;
    margin-right: 20px;

}

.footer-social{
    float: right;
}

footer p{
    clear: both;
    text-align: center;
    color: #000;
    margin-top: 150px;
}

.footer-nav a:link,
.footer-nav a:visited,

.footer-social a:link,
.footer-social a:visited{
    text-decoration: none;
    color: #666;
    border: 0;


}

.footer-nav a:hover,
.footer-nav a:active{
    color: #ccc;
}
.fa-facebook:hover{
    color: #1877F2;

}
.fa-x-twitter:hover{
    color: #1DA1F2;

}

.fa-instagram:hover{
    color: #E4405F;

}

.fa-instagram:hover{
    color: #EE1D51;

}

.fa-youtube:hover{
    color: #E4405F;

}

.fa-youtube:hover{
    color: #EE1D51;

}
