* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html, body {
  margin: 0px;
  height: 100%;
}

html {
  --text-1-font-family: "Inter", Helvetica;
  --text-1-font-weight: 400;
  --text-1-font-size: 16px;
  --text-1-letter-spacing: 0px;
  --text-1-line-height: normal;
  --text-1-font-style: normal;
  --large-heading-1-font-family: "Work Sans", Helvetica;
  --large-heading-1-font-weight: 600;
  --large-heading-1-font-size: 64px;
  --large-heading-1-letter-spacing: 0px;
  --large-heading-1-line-height: normal;
  --large-heading-1-font-style: normal;
  --text-2-font-family: "Work Sans", Helvetica;
  --text-2-font-weight: 600;
  --text-2-font-size: 32px;
  --text-2-letter-spacing: 0px;
  --text-2-line-height: normal;
  --text-2-font-style: normal;
  --homepage-subtext-font-family: "Inter", Helvetica;
  --homepage-subtext-font-weight: 400;
  --homepage-subtext-font-size: 24px;
  --homepage-subtext-letter-spacing: 0px;
  --homepage-subtext-line-height: normal;
  --homepage-subtext-font-style: normal;
  --year-font-family: "Inter", Helvetica;
  --year-font-weight: 700;
  --year-font-size: 20px;
  --year-letter-spacing: 0px;
  --year-line-height: normal;
  --year-font-style: italic;
  --large-heading-2-font-family: "Work Sans", Helvetica;
  --large-heading-2-font-weight: 900;
  --large-heading-2-font-size: 96px;
  --large-heading-2-letter-spacing: 0px;
  --large-heading-2-line-height: 100%;
  --large-heading-2-font-style: normal;
}

/*home*/

.homepage .body{
  background-color: #f8f8f8;
}

.home-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.home-page .overlap-group-wrapper {
  overflow: hidden;
}

.home-page .overlap-group {
  position: relative;
  width: 1296px;
  height: 819px;
  top: 1px;
  left: -8px;
}

.logo {
  position: absolute;
  width: 170px;
  height: 24px;
  top: 45px;
  left: 66px;
}

.home-page .img {
  position: absolute;
  width: 71px;
  height: 10px;
  top: 769px;
  left: 63px;
}

.home-page .about {
  position: absolute;
  top: 44px;
  left: 963px;
  font-family: var(--text-1-font-family);
  font-weight: var(--text-1-font-weight);
  color: #0443cb;
  font-size: var(--text-1-font-size);
  letter-spacing: var(--text-1-letter-spacing);
  line-height: var(--text-1-line-height);
  white-space: nowrap;
  font-style: var(--text-1-font-style);
  text-decoration: none
}

.home-page .work {
  position: absolute;
  top: 44px;
  left: 1063px;
  font-family: var(--text-1-font-family);
  font-weight: var(--text-1-font-weight);
  color: #0443cb;
  font-size: var(--text-1-font-size);
  letter-spacing: var(--text-1-letter-spacing);
  line-height: var(--text-1-line-height);
  white-space: nowrap;
  font-style: var(--text-1-font-style);
}

.home-page .contact {
  position: absolute;
  top: 44px;
  left: 1163px;
  font-family: var(--text-1-font-family);
  font-weight: var(--text-1-font-weight);
  color: #0443cb;
  font-size: var(--text-1-font-size);
  letter-spacing: var(--text-1-letter-spacing);
  line-height: var(--text-1-line-height);
  white-space: nowrap;
  font-style: var(--text-1-font-style);
}

.home-page .GRAPHIC-DESIGN {
  position: absolute;
  top: 245px;
  left: 63px;
  font-family: var(--large-heading-2-font-family);
  font-weight: var(--large-heading-2-font-weight);
  color: #0443cb;
  font-size: var(--large-heading-2-font-size);
  letter-spacing: var(--large-heading-2-letter-spacing);
  line-height: var(--large-heading-2-line-height);
  font-style: var(--large-heading-2-font-style);
}

.home-page .p {
  position: absolute;
  width: 567px;
  top: 448px;
  left: 66px;
  font-family: var(--homepage-subtext-font-family);
  font-weight: var(--homepage-subtext-font-weight);
  color: #0443cb;
  font-size: var(--homepage-subtext-font-size);
  letter-spacing: var(--homepage-subtext-letter-spacing);
  line-height: var(--homepage-subtext-line-height);
  font-style: var(--homepage-subtext-font-style);
}

/*foots*/
footer {
  display: flex;
  color:#0443cb;
  max-width: 100%; 
  padding: 30px 10px 20px; 
  position: sticky; 
  flex-direction: row;
  justify-content: right;
  overflow: hidden;
  grid-template-rows: 1fr auto;
}

footer p, footer .text-wrapper {
  margin: 0; 
  margin-right: 40px;
}

footer a {
  text-decoration: none;
}

a {
  text-decoration: none;
}


body {
  margin: 0px;
  height: 100%;
}

footer img{ 
  position: absolute;
  width: 170px;
  height: 24px;
  left: 66px;
}

/*about*/

.about-page {
  background-color: #0443cb;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.about-page .div {
  overflow: hidden;
  width: 1280px;
  height: 808px;
  position: relative;
}

.about-page .logo-white {
  position: absolute;
  width: 170px;
  height: 24px;
  top: 55px;
  left: 66px;
}

.about-page .about {
  position: absolute;
  top: 44px;
  left: 963px;
  font-family: var(--text-1-font-family);
  font-weight: var(--text-1-font-weight);
  color: #f8f8f8;
  font-size: var(--text-1-font-size);
  letter-spacing: var(--text-1-letter-spacing);
  line-height: var(--text-1-line-height);
  white-space: nowrap;
  font-style: var(--text-1-font-style);
}

.about-page .work {
  position: absolute;
  top: 44px;
  left: 1063px;
  font-family: var(--text-1-font-family);
  font-weight: var(--text-1-font-weight);
  color: #f8f8f8;
  font-size: var(--text-1-font-size);
  letter-spacing: var(--text-1-letter-spacing);
  line-height: var(--text-1-line-height);
  white-space: nowrap;
  font-style: var(--text-1-font-style);
}

.about-page .contact {
  position: absolute;
  top: 44px;
  left: 1163px;
  font-family: var(--text-1-font-family);
  font-weight: var(--text-1-font-weight);
  color: #f8f8f8;
  font-size: var(--text-1-font-size);
  letter-spacing: var(--text-1-letter-spacing);
  line-height: var(--text-1-line-height);
  white-space: nowrap;
  font-style: var(--text-1-font-style);
}

.about-page .header {
  position: absolute;
  top: 161px;
  left: 63px;
  font-family: var(--text-2-font-family);
  font-weight: var(--text-2-font-weight);
  color: #f8f8f8;
  font-size: var(--text-2-font-size);
  letter-spacing: var(--text-2-letter-spacing);
  line-height: var(--text-2-line-height);
  white-space: nowrap;
  font-style: var(--text-2-font-style);
}

.about-page .introduction {
  position: absolute;
  width: 367px;
  top: 211px;
  left: 66px;
  font-family: var(--text-1-font-family);
  font-weight: var(--text-1-font-weight);
  color: #f8f8f8;
  font-size: var(--text-1-font-size);
  letter-spacing: var(--text-1-letter-spacing);
  line-height: var(--text-1-line-height);
  font-style: var(--text-1-font-style);
}

.about-page .photo {
  position: absolute;
  width: 464px;
  height: 467px;
  top: 162px;
  left: 669px;
  object-fit: cover;
}

/*contact*/
.contact-page {
  background-color: #0443cb;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.contact-page .div {
  overflow: hidden;
  width: 1280px;
  height: 808px;
  position: relative;
}

.contact-page .about {
  position: absolute;
  top: 44px;
  left: 963px;
  font-family: var(--text-1-font-family);
  font-weight: var(--text-1-font-weight);
  color: #f8f8f8;
  font-size: var(--text-1-font-size);
  letter-spacing: var(--text-1-letter-spacing);
  line-height: var(--text-1-line-height);
  white-space: nowrap;
  font-style: var(--text-1-font-style);
}

.contact-page .work {
  position: absolute;
  top: 44px;
  left: 1063px;
  font-family: var(--text-1-font-family);
  font-weight: var(--text-1-font-weight);
  color: #f8f8f8;
  font-size: var(--text-1-font-size);
  letter-spacing: var(--text-1-letter-spacing);
  line-height: var(--text-1-line-height);
  white-space: nowrap;
  font-style: var(--text-1-font-style);
}

.contact-page .contact {
  position: absolute;
  top: 44px;
  left: 1163px;
  font-family: var(--text-1-font-family);
  font-weight: var(--text-1-font-weight);
  color: #f8f8f8;
  font-size: var(--text-1-font-size);
  letter-spacing: var(--text-1-letter-spacing);
  line-height: var(--text-1-line-height);
  white-space: nowrap;
  font-style: var(--text-1-font-style);
}

.contact-page .contact_me {
  position: absolute;
  top: 235px;
  font-family: var(--large-heading-2-font-family);
  font-weight: var(--large-heading-2-font-weight);
  color: #f8f8f8;
  font-size: var(--large-heading-2-font-size);
  letter-spacing: var(--large-heading-2-letter-spacing);
  line-height: var(--large-heading-2-line-height);
  white-space: nowrap;
  font-style: var(--large-heading-2-font-style);
}

.contact-page .email-linkedin {
  position: absolute;
  width: 170px;
  top: 363px;
  font-family: var(--text-2-font-family);
  font-weight: var(--text-2-font-weight);
  color: #f8f8f8;
  font-size: var(--text-2-font-size);
  letter-spacing: var(--text-2-letter-spacing);
  line-height: var(--text-2-line-height);
  font-style: var(--text-2-font-style);
}

.email-linkedin a {
  
  text-decoration: none; 
  color: #f8f8f8; 
  font-size: 16px; 
  font-family: var(--text-2-font-family);
  font-weight: var(--text-2-font-weight);
  color: #f8f8f8;
  font-size: var(--text-2-font-size);
  letter-spacing: var(--text-2-letter-spacing);
  font-style: var(--text-2-font-style);
  line-height: var(--text-2-line-height);
}

.email-linkedin {
  display: block; 
}

/*work*/
.work-page {
  background-color: #0443cb;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.work-page .div {
  overflow: hidden;
  width: 1280px;
  height: 1200px;
  position: relative;
}

.work-page .about {
  position: absolute;
  top: 44px;
  left: 963px;
  font-family: var(--text-1-font-family);
  font-weight: var(--text-1-font-weight);
  color: #f8f8f8;
  font-size: var(--text-1-font-size);
  letter-spacing: var(--text-1-letter-spacing);
  line-height: var(--text-1-line-height);
  white-space: nowrap;
  font-style: var(--text-1-font-style);
}

.work-page .work {
  position: absolute;
  top: 44px;
  left: 1063px;
  font-family: var(--text-1-font-family);
  font-weight: var(--text-1-font-weight);
  color: #f8f8f8;
  font-size: var(--text-1-font-size);
  letter-spacing: var(--text-1-letter-spacing);
  line-height: var(--text-1-line-height);
  white-space: nowrap;
  font-style: var(--text-1-font-style);
}

.work-page .contact {
  position: absolute;
  top: 44px;
  left: 1163px;
  font-family: var(--text-1-font-family);
  font-weight: var(--text-1-font-weight);
  color: #f8f8f8;
  font-size: var(--text-1-font-size);
  letter-spacing: var(--text-1-letter-spacing);
  line-height: var(--text-1-line-height);
  white-space: nowrap;
  font-style: var(--text-1-font-style);
}

.work-page .heading1 a{
  position: relative;
  top: 300px;
  font-family: var(--large-heading-2-font-family);
  font-weight: var(--large-heading-2-font-weight);
  color: #f8f8f8;
  font-size: 90px;
  letter-spacing: var(--large-heading-2-letter-spacing);
  line-height: var(--large-heading-2-line-height);
  white-space: nowrap;
  font-style: var(--large-heading-2-font-style);
  margin-bottom: 20px;
}

.work-page .logo-white {
  position: absolute;
  width: 170px;
  height: 24px;
  top: 55px;
  left: 66px;
}

.work-page .workh {
  position: absolute;
  width: 567px;
  top: 200px;
  left: 5px;
  font-family: var(--homepage-subtext-font-family);
  font-weight: var(--homepage-subtext-font-weight);
  color: #f8f8f8;
  font-size: var(--homepage-subtext-font-size);
  letter-spacing: var(--homepage-subtext-letter-spacing);
  line-height: var(--homepage-subtext-line-height);
  font-style: var(--homepage-subtext-font-style);
}

/* earthday  */
.earthday .body{
  background-color: #f8f8f8;
  min-height: 200px;
}

.earthday-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 2600px;
}

.earthday-page .overlap-group-wrapper {
  overflow: visible;
}

.earthday-page .overlap-group {
  position: relative;
  width: 1296px;
  top: 1px;
  left: -8px;
}

.logo {
  position: absolute;
  width: 170px;
  height: 24px;
  top: 45px;
  left: 66px;
}

.earthday-page .img {
  position: absolute;
  width: 71px;
  height: 10px;
  top: 769px;
  left: 63px;
}

.earthday-page .about {
  position: absolute;
  top: 44px;
  left: 963px;
  font-family: var(--text-1-font-family);
  font-weight: var(--text-1-font-weight);
  color: #0443cb;
  font-size: var(--text-1-font-size);
  letter-spacing: var(--text-1-letter-spacing);
  line-height: var(--text-1-line-height);
  white-space: nowrap;
  font-style: var(--text-1-font-style);
  text-decoration: none
}

.earthday-page .work {
  position: absolute;
  top: 44px;
  left: 1063px;
  font-family: var(--text-1-font-family);
  font-weight: var(--text-1-font-weight);
  color: #0443cb;
  font-size: var(--text-1-font-size);
  letter-spacing: var(--text-1-letter-spacing);
  line-height: var(--text-1-line-height);
  white-space: nowrap;
  font-style: var(--text-1-font-style);
}

.earthday-page .contact {
  position: absolute;
  top: 44px;
  left: 1163px;
  font-family: var(--text-1-font-family);
  font-weight: var(--text-1-font-weight);
  color: #0443cb;
  font-size: var(--text-1-font-size);
  letter-spacing: var(--text-1-letter-spacing);
  line-height: var(--text-1-line-height);
  white-space: nowrap;
  font-style: var(--text-1-font-style);
}

.earthday-page .overview {
  position: absolute;
  top: 200px;
  left: 60px;
  font-family: var(--large-heading-2-font-family);
  font-weight: var(--large-heading-2-font-weight);
  color: #121212;
  font-size: 40px;
  letter-spacing: var(--large-heading-2-letter-spacing);
  line-height: var(--large-heading-2-line-height);
  font-style: var(--large-heading-2-font-style);
}

.earthday-page .p2 {
  position: absolute;
  top: 250px;
  left: 63px;
  font-family: var(--large-heading-2-font-family);
  font-weight: var(--large-heading-2-font-weight);
  color: #121212;
  font-size: 16px;
  letter-spacing: var(--large-heading-2-letter-spacing);
  line-height: var(--large-heading-2-line-height);
  font-style: var(--large-heading-2-font-style);
}

.earthday-page .p {
  position: absolute;
  width: 567px;
  top: 200px;
  right: 66px;
  font-family: var(--homepage-subtext-font-family);
  font-weight: var(--homepage-subtext-font-weight);
  color: #121212;
  font-size: 12;
  letter-spacing: var(--homepage-subtext-letter-spacing);
  line-height: var(--homepage-subtext-line-height);
  font-style: var(--homepage-subtext-font-style);
}

.earthday-page .photo2 { 
  position: absolute;
  top: 500px;
  object-fit: contain; 
  width: 100%; 
  height: auto;
  padding-bottom: 100px;
}

/*gcollective */

.gcollective .body{
  background-color: #f8f8f8;
}

.gcollective-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 15000px;
}

.gcollective-page .overlap-group-wrapper {
  overflow: visible;
}

.gcollective-page .overlap-group {
  position: relative;
  width: 1296px;
  top: 1px;
  left: -8px;
}

.gcollective-page .img {
  position: absolute;
  width: 71px;
  height: 10px;
  top: 769px;
  left: 63px;
}

.gcollective-page .about {
  position: absolute;
  top: 44px;
  left: 963px;
  font-family: var(--text-1-font-family);
  font-weight: var(--text-1-font-weight);
  color: #0443cb;
  font-size: var(--text-1-font-size);
  letter-spacing: var(--text-1-letter-spacing);
  line-height: var(--text-1-line-height);
  white-space: nowrap;
  font-style: var(--text-1-font-style);
  text-decoration: none
}

.gcollective-page .work {
  position: absolute;
  top: 44px;
  left: 1063px;
  font-family: var(--text-1-font-family);
  font-weight: var(--text-1-font-weight);
  color: #0443cb;
  font-size: var(--text-1-font-size);
  letter-spacing: var(--text-1-letter-spacing);
  line-height: var(--text-1-line-height);
  white-space: nowrap;
  font-style: var(--text-1-font-style);
}

.gcollective-page .contact {
  position: absolute;
  top: 44px;
  left: 1163px;
  font-family: var(--text-1-font-family);
  font-weight: var(--text-1-font-weight);
  color: #0443cb;
  font-size: var(--text-1-font-size);
  letter-spacing: var(--text-1-letter-spacing);
  line-height: var(--text-1-line-height);
  white-space: nowrap;
  font-style: var(--text-1-font-style);
}

.gcollective-page .overview {
  position: absolute;
  top: 200px;
  left: 60px;
  font-family: var(--large-heading-2-font-family);
  font-weight: var(--large-heading-2-font-weight);
  color: #121212;
  font-size: 40px;
  letter-spacing: var(--large-heading-2-letter-spacing);
  line-height: var(--large-heading-2-line-height);
  font-style: var(--large-heading-2-font-style);
}

.gcollective-page .p2 {
  position: absolute;
  top: 250px;
  left: 63px;
  font-family: var(--large-heading-2-font-family);
  font-weight: var(--large-heading-2-font-weight);
  color: #121212;
  font-size: 16px;
  letter-spacing: var(--large-heading-2-letter-spacing);
  line-height: var(--large-heading-2-line-height);
  font-style: var(--large-heading-2-font-style);
}

.gcollective-page .p {
  position: absolute;
  width: 567px;
  top: 200px;
  right: 66px;
  font-family: var(--homepage-subtext-font-family);
  font-weight: var(--homepage-subtext-font-weight);
  color: #121212;
  font-size: 12;
  letter-spacing: var(--homepage-subtext-letter-spacing);
  line-height: var(--homepage-subtext-line-height);
  font-style: var(--homepage-subtext-font-style);
}

.gcollective-page .image-container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.image-container img {
  max-width: 100%; 
}

/* socialmedia  */
.socialmedia .body{
  background-color: #f8f8f8;
  min-height: 200px;
}

.socialmedia-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 2600px;
}

.socialmedia-page .overlap-group-wrapper {
  overflow: visible;
}

.socialmedia-page .overlap-group {
  position: relative;
  width: 1296px;
  top: 1px;
  left: -8px;
}

.socialmedia-page .img {
  position: absolute;
  width: 71px;
  height: 10px;
  top: 769px;
  left: 63px;
}

.socialmedia-page .about {
  position: absolute;
  top: 44px;
  left: 963px;
  font-family: var(--text-1-font-family);
  font-weight: var(--text-1-font-weight);
  color: #0443cb;
  font-size: var(--text-1-font-size);
  letter-spacing: var(--text-1-letter-spacing);
  line-height: var(--text-1-line-height);
  white-space: nowrap;
  font-style: var(--text-1-font-style);
  text-decoration: none
}

.socialmedia-page .work {
  position: absolute;
  top: 44px;
  left: 1063px;
  font-family: var(--text-1-font-family);
  font-weight: var(--text-1-font-weight);
  color: #0443cb;
  font-size: var(--text-1-font-size);
  letter-spacing: var(--text-1-letter-spacing);
  line-height: var(--text-1-line-height);
  white-space: nowrap;
  font-style: var(--text-1-font-style);
}

.socialmedia-page .contact {
  position: absolute;
  top: 44px;
  left: 1163px;
  font-family: var(--text-1-font-family);
  font-weight: var(--text-1-font-weight);
  color: #0443cb;
  font-size: var(--text-1-font-size);
  letter-spacing: var(--text-1-letter-spacing);
  line-height: var(--text-1-line-height);
  white-space: nowrap;
  font-style: var(--text-1-font-style);
}

.socialmedia-page .overview {
  position: absolute;
  top: 200px;
  left: 60px;
  font-family: var(--large-heading-2-font-family);
  font-weight: var(--large-heading-2-font-weight);
  color: #121212;
  font-size: 40px;
  letter-spacing: var(--large-heading-2-letter-spacing);
  line-height: var(--large-heading-2-line-height);
  font-style: var(--large-heading-2-font-style);
}

.socialmedia-page .p2 {
  position: absolute;
  top: 250px;
  left: 63px;
  font-family: var(--large-heading-2-font-family);
  font-weight: var(--large-heading-2-font-weight);
  color: #121212;
  font-size: 16px;
  letter-spacing: var(--large-heading-2-letter-spacing);
  line-height: var(--large-heading-2-line-height);
  font-style: var(--large-heading-2-font-style);
}

.socialmedia-page .p {
  position: absolute;
  width: 567px;
  top: 200px;
  right: 66px;
  font-family: var(--homepage-subtext-font-family);
  font-weight: var(--homepage-subtext-font-weight);
  color: #121212;
  font-size: 12;
  letter-spacing: var(--homepage-subtext-letter-spacing);
  line-height: var(--homepage-subtext-line-height);
  font-style: var(--homepage-subtext-font-style);
}

.socialmedia-page .image-container { 
  position: absolute;
  top: 500px;
  object-fit: contain; display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px; 
}

.image-container img {
  width: 100%; 
  display: block; 
}